body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    background: url(assets/background-image.jpg) no-repeat center center / cover fixed;
}

#clock-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
    font-size: 5em;
    width: 100vw;
    backdrop-filter: blur(0.05em);
}

#clock-container label {
    margin: auto;
}

footer {
    position: fixed;
    bottom: 0;
}

footer p {
    margin: 0;
    color: rgb(189, 188, 188);
}